<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300" rel="stylesheet">

        <!-- Bootstrap css link -->
        <link rel="stylesheet" href="../../../node/bootstrap/dist/css/bootstrap.css">
        <!-- Main css link -->
        <link rel="stylesheet" href="../../../public/css/style.css">

        <title>ProfitTraders</title>
    </head>
    <body>
        <!-- Nav-bar -->
        <%- include('../dashboard/partial/head') %>


        <!-- Name and balance container -->
        <section class="container" style="height: 82.5vh;padding-top: 7em;">
            <!-- <div class="row">
                <div class="col-sm-9 col-md-5 col-lg-4">
                    <div class="forgot-password" onclick="document.location.href=''">
                        Forgot Password
                    </div>
                </div>
            </div> -->
            <div class="row">
                <div class="col-sm-9 col-md-5 col-lg-4">
                    <div class="logout" onclick="document.location.href='/users/logout'">
                        Logout
                    </div>
                </div>
            </div>
        </section>
        


        




        
        <!-- Footer -->
        <%- include('../dashboard/partial/footer') %>


    </body>

    <!-- Optional JavaScript; choose one of the two! -->
    <script src="../../../public/javascript/script.js"></script>

    <!-- Option 1: Bootstrap Bundle with JQuery -->
    <script src="../../../public/javascript/jquery.js"></script>
    <script src="../../../node/bootstrap/dist/js/bootstrap.js"></script>


</html>