<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300" rel="stylesheet">

        <!-- Bootstrap css link -->
        <link rel="stylesheet" href="../node/bootstrap/dist/css/bootstrap.css">
        <!-- Main css link -->
        <link rel="stylesheet" href="../public/css/style.css">

        <title>InterestMiners</title>
    </head>
    <body>
        <!-- Nav-bar -->
        <%- include('partial/header') %>
        



        <!-- About us head container start -->
        <section class="container-fluid general-head-section blue-back">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-10 col-lg-8 mx-auto abt-align">
                        <h1 class="mb-3 gen-heading">About InterestMiners</h1>
                        <p class="normal-txt inv-light">
                            We present a modern high-tech business, which is associated primarily with cryptocurrency 
                            and highly productive activity on the multicurrency Forex market.
                        </p>
                        <p class="normal-txt inv-light">
                            Our professional team of 
                            traders and market analysts is ready to offer the best terms for your daily earnings with 
                            reasonable requirements of your investment.
                        </p>
                    </div>
                    
                </div>
            </div>
        </section>
        <!-- About us head container end -->



        <!-- Top heading container start -->
        <section class="container-fluid testi-con" style="padding-top: 3.75em;">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title">
                            <h2>Who Are We?</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Top heading container end -->


        
        <!-- First container -->
        <section class="container-fluid" style="padding-bottom: 1.15em;">
            <div class="container">
                <div class="row align-items-center">

                    <div class="col-sm-12 col-lg-5 p-2">
                        <div class="header-right-container head-img">
                            <img src="../public/Image/about/abt-1.jpg" alt="About us Image" srcset="" class="img-fluid img-shadow">
                        </div>
                    </div>

                    <div class="col-sm-12 col-lg-7">
                        <div>
                            <p class="normal-txt" style="padding-left: 15px;">
                                InterestMiners does not propose some revolutionary products, but our offer is publicly 
                                available and this is the main advantage of our company. Join us to verify by own how much 
                                quality of trust management service we offer. Our experts have extremely rich experience in 
                                working on financial markets, stock and private exchanges. This means that we don't have any 
                                risk - all your money is in the hands of professionals who save and multiply it every day. At 
                                the same time, we do not stop experimenting and developing our own financial strategies: 
                                InterestMiners finds a better use for the money to extract maximum profits. Choosing us, you 
                                should be fully aware that you choose a very safe direction of investment and trust your funds 
                                in the hands of professional financial managers. Today InterestMiners is opening up new opportunities 
                                also for professional investors and already working with many of them.
                            </p>
                        </div>
                    </div>    
                    
                    
                </div>
            </div>
        </section>
        


        <!-- Second container -->
        <section class="container-fluid abt-sec">
            <div class="container">
                <div class="row about-inverse align-items-center">

                    <div class="col-sm-12 col-lg-7">
                        <div>
                            <p class="normal-txt" style="padding-right: 15px;">
                                We also invest own money with you. It is no secret that today many companies to attract funds to 
                                conduct an aggressive trade with high risk. However, it is not our way. We always share our assets 
                                and risk involved in trading as well. We offer what we use ourselves. For us the loss is not just a 
                                loss of potential income, it is our direct financial losses. It means we are your partner in this 
                                business. Every trader and each financial analyst has the necessary education or is a graduate of the 
                                specialized training courses. Most of our experts have completed training at the New York Stock Exchange. 
                                The company's management is trying to improve their knowledge: we hold regular seminars and meetings with 
                                professors of financial academies and colleges for exchange of experience and modern methods of trading. 
                                We plan to update the qualitative direction of investment services. We are ready to offer new investment 
                                ideas and high-quality products and solutions of interest to our new and loyal clients. Today our team is 
                                satisfied for the position taken on the market and company growth. However, our plans are always more than achievements.
                            </p>
                        </div>
                    </div> 

                    <div class="col-sm-12 col-lg-5 p-2 head-img">
                        <div class="header-right-container">
                            <img src="../public/Image/about/abt-2.jpg" alt="About us Image" srcset="" class="img-fluid img-shadow">
                        </div>
                    </div>   
                    
                    
                </div>
            </div>
        </section>

        

        <!-- Third container -->
        <section class="container-fluid abt-sec">
            <div class="container">
                <div class="row align-items-center">

                    <div class="col-sm-12 col-lg-5 p-2 head-img">
                        <div class="header-right-container">
                            <img src="../public/Image/about/abt-3.jpg" alt="About us Image" srcset="" class="img-fluid img-shadow">
                        </div>
                    </div>

                    <div class="col-sm-12 col-lg-7">
                        <div>
                            <p class="normal-txt" style="padding-left: 15px;">
                                Goals should always be ahead of achievements. Now it is a good time to intensify work in the investment sector. That we 
                                are going to do. At each stage, we have some certain micro and macro targets. Currently, one of the priorities is online 
                                Forex trading, total number of our active investors can measure its effectiveness. For asset management company such as 
                                InterestMiners this indicator is the amount of assets under management. At same time, we are not resting on our 
                                laurels, because when the dream achieved the life ends. Join us today to estimate all advantages of InterestMiners. 
                                Besides, InterestMiners is constantly concerned about financial security and anonymity of your investments. We do not 
                                require any verifications of your personality, proof of your physical address, telephone number, etc. We respect your 
                                privacy and never, under any circumstances, disclose information about you and your deposits. As well, we have anonymous 
                                payment systems that we use for both methods to create deposits and withdrawal of profits.
                            </p>
                        </div>
                    </div>    
                    
                    
                </div>
            </div>
        </section>
        




        <div class="container-fluid" style="padding: 1.2em;"></div>




        <!-- Counter container start -->
        <section class="container-fluid section-general blue-back">
            <div class="container">
                <div class="row">
                    <div class="col-10 mx-auto last-abt-con">
                        <p class="normal-txt inv-light">SCALE UP EASILY</p>
                        <h1 class="mb-3 gen-heading">Protecting Investors' Interests</h1>
                        <p class="abt-btn-wrap"><a href="/users/register" class="abt-btn">Create Account</a></p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Counter container end -->



        
        <!-- Footer -->
        <%- include('partial/footer') %>



    </body>

    <!-- Optional JavaScript; choose one of the two! -->
    <script src="../public/javascript/script.js"></script>

    <!-- Option 1: Bootstrap Bundle with JQuery -->
    <script src="../public/javascript/jquery.js"></script>
    <script src="../node/bootstrap/dist/js/bootstrap.js"></script>
    
</html>