<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300" rel="stylesheet">

        <!-- Bootstrap css link -->
        <link rel="stylesheet" href="../node/bootstrap/dist/css/bootstrap.css">
        <!-- Main css link -->
        <link rel="stylesheet" href="../public/css/style.css">

        <title>InterestMiners</title>
    </head>
    <body>
        <!-- Nav-bar -->
        <%- include('partial/header') %>
        



        <!-- About us head container start -->
        <section class="container-fluid general-head-section blue-back">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-10 col-lg-8 mx-auto abt-align">
                        <h1 class="mb-3 gen-heading">FAQ'S</h1>
                        <p class="normal-txt inv-light">
                            Still have questions? Before contacting us you might want 
                            to look through the questions and answers in this section. 
                        </p>
                        <p class="normal-txt inv-light">
                            Please click on the questions in order to read the answers.
                        </p>
                    </div>
                    
                </div>
            </div>
        </section>
        <!-- About us head container end -->



        <!-- Top heading container start -->
        <section class="container-fluid testi-con" style="padding-top: 3.75em;">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title">
                            <h2>GENERAL QUESTIONS :</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Top heading container end -->


        
        <!-- First container -->
        <section class="container-fluid" style="padding-bottom: 1.15em;">
            <div class="container">
                <div class="row">
                    <div class="wrapper">
                        <div class="accordion_wrap accordion_1 p-2">
                            <div class="accordion_header">
                                What is InterestMiners?
                            </div>
                            <div class="accordion_body">
                                <p class="normal-txt">
                                    We present a modern high-tech business, which is associated primarily with cryptocurrency and forex with
                                    highly productive activity on the multicurrency Forex market and cryptocurrency. Our professional 
                                    team of traders and market analysts is ready to offer the best terms for your daily earnings with 
                                    reasonable requirements of your investment.
                                </p>
                            </div>
                        </div>
                        <div class="accordion_wrap accordion_2 p-2">
                            <div class="accordion_header">
                                Is InterestMiners a regulated company?
                            </div>
                            <div class="accordion_body">
                                <p class="normal-txt">
                                    Yes, of course. InterestMiners is regulated by the US Security and Exchange Commission (SEC). 
                                    SEC is in  charge of investor protection.
                                </p>
                            </div>
                        </div>
                        <div class="accordion_wrap accordion_3 p-2">
                            <div class="accordion_header">
                                Is my participation safe in your financial project?
                            </div>
                            <div class="accordion_body">
                                <p class="normal-txt">
                                    Yes, InterestMiners offers safe cooperation with zero risk.
                                </p>
                            </div>
                        </div>
                        <div class="accordion_wrap accordion_4 p-2">
                            <div class="accordion_header">
                                Do you have a physical office that I can visit?
                            </div>
                            <div class="accordion_body">
                                <p class="normal-txt">
                                    Sure. InterestMiners has a headquarter in the UK at 
                                    990 Main Road London SW14 5JZ. You can visit us during business hours, Monday 
                                    through Friday.
                                </p>
                            </div>
                        </div>
                        <div class="accordion_wrap accordion_5 p-2">
                            <div class="accordion_header">
                                Who can become an investor of the company and how?
                            </div>
                            <div class="accordion_body">
                                <p class="normal-txt">
                                    Citizen of any country who has reached the age of majority can become an active investor of 
                                    InterestMiners, make deposits and withdraw profits.
                                </p>
                            </div>
                        </div>
                        <div class="accordion_wrap accordion_5 p-2">
                            <div class="accordion_header">
                                Can I register more than one account?
                            </div>
                            <div class="accordion_body">
                                <p class="normal-txt">
                                    No, multiple registrations is prohibited and can lead to the suspension of all accounts 
                                    to ascertain the circumstances.
                                </p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="wrapper">
                        <div class="accordion_wrap accordion_1 p-2">
                            <div class="accordion_header">
                                Can my family members use my computer to register account?
                            </div>
                            <div class="accordion_body">
                                <p class="normal-txt">
                                    Yes, your computer can be used to register your family members.
                                </p>
                            </div>
                        </div>
                        <div class="accordion_wrap accordion_2 p-2">
                            <div class="accordion_header">
                                Should I pass through some identification procedure?
                            </div>
                            <div class="accordion_body">
                                <p class="normal-txt">
                                    According to InterestMiners privacy policy, you are not 
                                    required to go through the identification of your personality or provide any ID.
                                </p>
                            </div>
                        </div>
                        <div class="accordion_wrap accordion_3 p-2">
                            <div class="accordion_header">
                                I can’t log into my account! What should I do?
                            </div>
                            <div class="accordion_body">
                                <p class="normal-txt">
                                    To provide adequate security we don't allow the reset password function because, 
                                    your password is needed to withdraw from your account. So please remember your password 
                                    on registration.
                                </p>
                            </div>
                        </div>
                        <div class="accordion_wrap accordion_4 p-2">
                            <div class="accordion_header">
                                Is it possible to delete my account?
                            </div>
                            <div class="accordion_body">
                                <p class="normal-txt">
                                    InterestMiners does not envisage the function of cancellation of your account 
                                    - it will be automatically deleted after 3 months of inactivity.
                                </p>
                            </div>
                        </div>
                        <div class="accordion_wrap accordion_5 p-2">
                            <div class="accordion_header">
                                Can I change my email or username?
                            </div>
                            <div class="accordion_body">
                                <p class="normal-txt">
                                    After registration, you can not change your username including your 
                                    email and payment details.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Faqs container end -->


        

        <!-- Top heading container start -->
        <section class="container-fluid testi-con" style="padding-top: 3.75em;">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title">
                            <h2>DEPOSIT QUESTIONS:</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Top heading container end -->


        
        <!-- Second container -->
        <section class="container-fluid" style="padding-bottom: 1.15em;">
            <div class="container">
                <div class="row">
                    <div class="wrapper">
                        <div class="accordion_wrap accordion_1 p-2">
                            <div class="accordion_header">
                                What investment plans does the company offer?
                            </div>
                            <div class="accordion_body">
                                <p class="normal-txt">
                                    We have different investment plans with different benefits. To 
                                    invest, all you have to do is go to our deposit page, choose a 
                                    payment method, send your investment, then post the proof of payment.
                                </p>
                            </div>
                        </div>
                        <div class="accordion_wrap accordion_2 p-2">
                            <div class="accordion_header">
                                How can I make a deposit in the project?
                            </div>
                            <div class="accordion_body">
                                <p class="normal-txt">
                                    You can make a deposit using popular payment systems such as Bitcoin, 
                                    Bit-Cash, Etherium and Litecoin. Or chat with us via our live chat to 
                                    get more information.
                                </p>
                            </div>
                        </div>
                        <div class="accordion_wrap accordion_3 p-2">
                            <div class="accordion_header">
                                I made a deposit. When will I see my first profit?
                            </div>
                            <div class="accordion_body">
                                <p class="normal-txt">
                                    You will get your profit 5 days after your deposit.
                                </p>
                            </div>
                        </div>
                        <div class="accordion_wrap accordion_4 p-2">
                            <div class="accordion_header">
                                What are the minimum and maximum amounts I can invest here?
                            </div>
                            <div class="accordion_body">
                                <p class="normal-txt">
                                    Feel free to invest any amount in the range of $350 
                                    to $45,000. We included this information in our home page.
                                </p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="wrapper">
                        <div class="accordion_wrap accordion_1 p-2">
                            <div class="accordion_header">
                                Do you offer compounding option?
                            </div>
                            <div class="accordion_body">
                                <p class="normal-txt">
                                    Yes, you can reinvest your profits in automatic mode, if it 
                                    rises to another plan, it will compound.
                                </p>
                            </div>
                        </div>
                        <div class="accordion_wrap accordion_2 p-2">
                            <div class="accordion_header">
                                How to increase my deposit?Should I pass 
                                through some identification procedure?
                            </div>
                            <div class="accordion_body">
                                <p class="normal-txt">
                                    You can only do this by making multiple deposits using one 
                                    account.
                                </p>
                            </div>
                        </div>
                        <div class="accordion_wrap accordion_3 p-2">
                            <div class="accordion_header">
                                How quickly will my deposit be credited?
                            </div>
                            <div class="accordion_body">
                                <p class="normal-txt">
                                    Your deposit will be added immediately 
                                    after our team approves your paymeent.
                                </p>
                            </div>
                        </div>
                        <div class="accordion_wrap accordion_4 p-2">
                            <div class="accordion_header">
                                Can I make deposit using one payment system but 
                                withdraw through another one?
                            </div>
                            <div class="accordion_body">
                                <p class="normal-txt">
                                    Yes. You can withdraw through any payment system, and not 
                                    only the one which served as the source for the deposit.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Faqs container end -->


        

        <!-- Top heading container start -->
        <section class="container-fluid testi-con" style="padding-top: 3.75em;">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title">
                            <h2>WITHDRAWAL QUESTIONS :</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Top heading container end -->


        
        <!-- Third container -->
        <section class="container-fluid" style="padding-bottom: 1.15em;">
            <div class="container">
                <div class="row">
                    <div class="wrapper">
                        <div class="accordion_wrap accordion_1 p-2">
                            <div class="accordion_header">
                                What are the limits of withdrawal amount?
                            </div>
                            <div class="accordion_body">
                                <p class="normal-txt">
                                    We dont have any limits for withdrawals, Maximum withdrawal is unlimited 
                                    and Minimum withdrawal is Bitcoin Bit-Cash Etherium Litecoin $1.
                                </p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="wrapper">
                        <div class="accordion_wrap accordion_5 p-2">
                            <div class="accordion_header">
                                How fast can I withdraw my money?
                            </div>
                            <div class="accordion_body">
                                <p class="normal-txt">
                                    We pay special attention to the safety of your participation in our 
                                    investment project and check every request to avoid any financial loss 
                                    on your part. That is why your withdrawal request will be processed in 
                                    a manner instant.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Faqs container end -->



        <div class="container-fluid" style="padding: 1.2em;"></div>



        <!-- Counter container start -->
        <section class="container-fluid section-general blue-back">
            <div class="container">
                <div class="row">
                    <div class="col-10 mx-auto last-abt-con">
                        <p class="normal-txt inv-light">InterestMiners helps thousands of customers achieve their financial goals by helping them trade and invest with ease</p>
                        <h1 class="mb-3 gen-heading">A Verified Way to Invest</h1>
                        <p class="abt-btn-wrap"><a href="/users/register" class="abt-btn">Create Account</a></p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Counter container end -->



        
        <!-- Footer -->
        <%- include('partial/footer') %>



    </body>

    <!-- Optional JavaScript; choose one of the two! -->
    <script src="../public/javascript/script.js"></script>

    <!-- Option 1: Bootstrap Bundle with JQuery -->
    <script src="../public/javascript/jquery.js"></script>
    <script src="../node/bootstrap/dist/js/bootstrap.js"></script>


    <!-- Javascript for hover and hide in faq containers -->
    <script>
        $(document).ready(function(){
            $(".accordion_header").click(function(){
               $(".accordion_header").removeClass("active");
               $(this).addClass("active");
            });
        });
    </script>
    
</html>