<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300" rel="stylesheet">

        <!-- Bootstrap css link -->
        <link rel="stylesheet" href="../node/bootstrap/dist/css/bootstrap.css">
        <!-- Main css link -->
        <link rel="stylesheet" href="../public/css/style.css">

        <title>InterestMiners</title>
    </head>
    <body>
        <!-- Nav-bar -->
        <%- include('partial/header') %>
        



        <!-- Rules head container start -->
        <section class="container-fluid general-head-section blue-back">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-10 col-lg-8 mx-auto abt-align">
                        <h1 class="mb-3 gen-heading">InterestMiners Rules</h1>
                        <p class="normal-txt inv-light">
                            We present a modern high-tech business, which is associated primarily with cryptocurrency 
                            and highly productive activity on the multicurrency Forex market.
                        </p>
                    </div>
                    
                </div>
            </div>
        </section>
        <!-- Rules head container end -->



        <!-- Top heading container start -->
        <section class="container-fluid testi-con" style="padding-top: 3.75em;">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title">
                            <h2>InterestMiners Policy</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Top heading container end -->


        
        <!-- Main container -->
        <section class="container-fluid" style="padding-bottom: 1.15em;">
            <div class="container">
                <div class="row">

                    <div class="col-sm-12 col-md-12 col-lg-6 p-2">
                        <div class="policy-card-con policy-1 normal-txt">
                            InterestMiners is an official memeber of The Fanancial Commission and the US Security and Exchange Commission. Companys 
                            office is located at the following address:  Brandenburg, Frankfurt, Bayreuther Strasse 34. The following rules are 
                            of interaction between the administration of Profit Guarantee 
                            Ltd and participants (investors) of the investment project. These rules are binding on both parties.
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-6 p-2">
                        <div class="policy-card-con policy-2 normal-txt">
                            Anyone can register an account and become an investor of the project, provided that he reached 18 
                            years old and above. Profit Guarantee Ltd cooperates with participants from all over the world without any 
                            additional restrictions.
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-6 p-2">
                        <div class="policy-card-con policy-3 normal-txt">
                            To participate in the project, each investor must have his own personal account 
                            registered using @gmail.com.
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-6 p-2">
                        <div class="policy-card-con policy-4 normal-txt">
                            Despite the fact that InterestMiners is sufficiently loyal to the user’s request to 
                            register multiple accounts.
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-6 p-2">
                        <div class="policy-card-con policy-5 normal-txt">
                            Participants has the right to have any number of deposits using one account.
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-6 p-2">
                        <div class="policy-card-con policy-6 normal-txt">
                            Participants can independently determine the amount of the deposit based on 
                            a minimum requirement of $350.
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-6 p-2 normal-txt">
                        <div class="policy-card-con policy-7">
                            Deposit and withdrawal of profits can be through <span class="font-span"><img src="../public/image/foot/bitcoin.png" alt="" class="footer-icon"> Bitcoin</span>, 
                            <span  class="font-span"><img src="../public/image/foot/btc-cash.png" alt="" class="footer-icon"> Bitcoin-Cash</span>, <span  class="font-span">
                            <img src="../public/image/foot/ethereum.png" alt="" class="footer-icon"> Ethereum</span> and 
                            <span class="font-span"><img src="../public/image/foot/litecoin.png" alt="" class="footer-icon"> Litecoin</span>
                            as the only available payment methods.
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-6 p-2 normal-txt">
                        <div class="policy-card-con policy-8">
                            Each investor has a right to get rate of profit according to investment strategy.
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-6 p-2 normal-txt">
                        <div class="policy-card-con policy-9">
                            InterestMiners has the right to refuse service to any participant with a mandatory 
                            reimbursement of his deposit.
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-6 p-2">
                        <div class="policy-card-con policy-10 normal-txt">
                            InterestMiners respects the privacy of each participant and uses his personal information for 
                            internal needs only. The company never sells such information and does not share with third parties. 
                            In exceptional cases, the company shares personal data according to the court (in the presence of a 
                            court order).
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-6 p-2">
                        <div class="policy-card-con policy-11 normal-txt">
                            InterestMiners never requires or organizes any procedures for the identification of users.
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-6 p-2">
                        <div class="policy-card-con policy-12 normal-txt">
                            InterestMiners undertakes to accept deposits, accrue profits and make payments in accordance 
                            with the current investment proposal.
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-6 p-2">
                        <div class="policy-card-con policy-13 normal-txt">
                            InterestMiners reserves the right to change the terms of cooperation, add new or deactivate 
                            existing investment plans without affecting the interests of active investors.
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-6 p-2">
                        <div class="policy-card-con policy-14 normal-txt">
                            InterestMiners has the right to terminate accounts if it has explicit or indirect evidence 
                            of fraud on the part of the participant.
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-6 p-2">
                        <div class="policy-card-con policy-15 normal-txt">
                            Registration of a new participant implies that he has carefully read these rules and 
                            agrees to comply with them.
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-6 p-2">
                        <div class="policy-card-con policy-16 normal-txt">
                            InterestMiners only has this investment project. The only channel of communication 
                            with clients of the company is http:/InterestMiners.com/.
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>



        <div class="container-fluid" style="padding: 1.2em;"></div>
        


        <!-- Blue container start -->
        <section class="container-fluid section-general blue-back">
            <div class="container">
                <div class="row">
                    <div class="col-10 mx-auto last-abt-con">
                        <p class="normal-txt inv-light">Are you ready to take your trading to the next level</p>
                        <h1 class="mb-3 gen-heading">A Verified Way To Invest</h1>
                        <p class="abt-btn-wrap"><a href="/users/register" class="abt-btn">Create Account</a></p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Blue container end -->



        
        <!-- Footer -->
        <%- include('partial/footer') %>



    </body>

    <!-- Optional JavaScript; choose one of the two! -->
    <script src="../public/javascript/script.js"></script>

    <!-- Option 1: Bootstrap Bundle with JQuery -->
    <script src="../public/javascript/jquery.js"></script>
    <script src="../node/bootstrap/dist/js/bootstrap.js"></script>
    
</html>