<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300" rel="stylesheet">

        <!-- Swiper javascript cdn link -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.css"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- Bootstrap css link -->
        <link rel="stylesheet" href="node/bootstrap/dist/css/bootstrap.css">
        <!-- Main css link -->
        <link rel="stylesheet" href="public/css/style.css">

        <title>InterestMiners</title>
    </head>
    <body>

        <!-- Nav-bar -->
        <%- include('partial/header') %>
        

        <!-- Header container start -->
        <header class="container-fluid header-con">
            <div class="container">
                <div class="row align-items-center">
                    <!-- Header right container -->
                    <div class="col-sm-12 col-lg-7">
                        <div class="header-right-container">
                            <div class="head-content">Trade Invest stocks and Bond</div>
                            <h1 class="mb-3 heading">High-tech Investments Your Guaranteed Income</h1>
                            <p class="normal-txt">
                                Take the right step towards safe investments on the modern high-tech market with InterestMiners
                            </p>
                            <a href="/users/login" class="heading-btn">Sign In</a>
                            <a href="/users/register" class="heading-btn" style="margin-left: 10px;">Get Started</a>
                        </div>
                    </div>

                    <!-- Header left container -->
                    <div class="col-sm-12 col-md-6 col-lg-5 head-img">
                        <img src="public/Image/index/header-img.jpg" alt="Header Image" srcset="" class="img-fluid img-shadow">
                    </div>

                    <!-- About us right container -->
                    <div class="col-sm-12 col-md-6 col-lg-6 p-2 md-md">
                        <div class="header-right-container md-md" style="overflow: hidden;">
                            <iframe width="100%" height="315" src="https://www.youtube.com/embed/xNjDcFb7Yws" title="InterestMiners ad" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header container end -->



        <!-- About us container start -->
        <section class="container-fluid section-general">
            <div class="container">
                <div class="row align-items-center">
                    <!-- About us right container -->
                    <div class="col-sm-12  col-md-6 col-lg-5 p-2 sm-lg">
                        <div class="header-right-container sm-lg">
                            <iframe width="100%" height="315" src="https://www.youtube.com/embed/xNjDcFb7Yws" title="InterestMiners ad" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>

                    <div class="col-sm-12 col-lg-7">
                        <div class="header-right-container">
                            <h3 class="section-large-txt">About InterestMiners</h3>
                            <p class="normal-txt heading-sm">
                                Welcome to the website of InterestMiners - a young but very promising 
                                company that boldly gains the trust of investors from around the world! Our 
                                friendly and customer-oriented team is ready to make you an amazing offer of 
                                quick moneymaking. If you are familiar with the concepts of Forex and stock 
                                trading, you will undoubte...
                            </p>
                            <a href="/about/" class="heading-btn">More About Us</a>
                        </div>
                    </div>                    
                </div>
            </div>
        </section>
        <!-- About us container end -->



        <!-- Why choose us container start -->
        <section class="container-fluid section-general">
            <div class="container">
                <div class="row align-items-center">
                    <!-- Why choose us text container -->
                    <div class="col-sm-12 col-md-12 col-lg-4">
                        <div>
                            <h3 class="section-large-txt">Why Choose Us</h3>
                            <p class="normal-txt">
                                We are happy to provide the best investment service in the field of cryptocurrency 
                                trading, Forex and private exchange with the maximum professionalism!
                            </p>
                            <a href="/users/register" class="heading-btn">Sign Up</a>
                        </div>
                    </div>

                    <!-- Why choose us first card container -->
                    <div class="col-sm-12 col-md-12 col-lg-4 why-sep">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-12 p-2">
                                <div class="card-container">
                                    <div class="row align-items-center">
                                        <div class="col-3 p-2">
                                            <div class="svg-container">
                                                <img src="public/Image/index/whyImg/secure.png" alt="Why Image" srcset="" class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="col-9 p-2 align-items-center">
                                            <div class="card-txt">On DDOS Protection</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-sm-12 col-md-6 col-lg-12 p-2">
                                <div class="card-container">
                                    <div class="row align-items-center">
                                        <div class="col-3 p-2">
                                            <div class="svg-container">
                                                <img src="public/Image/index/whyImg/ssl.png" alt="Why Image" srcset="" class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="col-9 p-2 align-items-center">
                                            <div class="card-txt">256-BIT Security Encryption</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Why choose us second card container -->
                    <div class="col-sm-12 col-md-12 col-lg-4 mx-card">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-12 p-2">
                                <div class="card-container">
                                    <div class="row align-items-center">
                                        <div class="col-3 p-2">
                                            <div class="svg-container">
                                                <img src="public/Image/index/whyImg/ssl.png" alt="Why Image Image" srcset="" class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="col-9 p-2 align-items-center">
                                            <div class="card-txt">Guaranteed Profit</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-sm-12 col-md-6 col-lg-12 p-2">
                                <div class="card-container">
                                    <div class="row align-items-center">
                                        <div class="col-3 p-2">
                                            <div class="svg-container">
                                                <img src="public/Image/index/whyImg/call-center-agent.png" alt="Why Image Image" srcset="" class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="col-9 p-2 align-items-center">
                                            <div class="card-txt">24/7 Support</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Why choose us container end -->
        


        <!-- Earn with us container start -->
        <section class="container-fluid section-general">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="">
                            <h3 class="section-large-txt">Earn Profits With InterestMiners</h3>
                            <p class="normal-txt">
                                It’s our mission to provide you with a delightful 
                                and a successful investing experience!
                            </p>
                        </div>
                    </div> 
                    
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="earn-card why-background align-items-center">
                            <div class="row">
                                <div class="col-2 p-2">
                                    <div class="svg-container">
                                        <img src="public/Image/index/earnImg/fx.png" alt="Earn Image" srcset="" class="img-fluid">
                                    </div>
                                </div>
                                <div class="col-10 p-2 align-items-center">
                                    <div class="card-lg-txt">Forex</div>
                                    <div class="card-txt why-txt">
                                        Take part in the world’s largest financial market where more than 
                                        $5 trillion worth of currencies are bought and sold each day.
                                    </div>
                                    <a href="/users/register" class="heading-btn">Join Now</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="earn-card why-background align-items-center">
                            <div class="row">
                                <div class="col-2 p-2">
                                    <div class="svg-container">
                                        <img src="public/Image/index/earnImg/secure-two.png" alt="Earn Image" srcset="" class="img-fluid">
                                    </div>
                                </div>
                                <div class="col-10 p-2 align-items-center">
                                    <div class="card-lg-txt">Secure transactions</div>
                                    <div class="card-txt why-txt">
                                        The team pays maximum attention to the safety of investor 
                                        funds and carefully checks all withdrawal transactions.
                                    </div>
                                    <a href="/users/register" class="heading-btn">Join Now</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="earn-card why-background align-items-center">
                            <div class="row">
                                <div class="col-2 p-2">
                                    <div class="svg-container">
                                        <img src="public/Image/index/earnImg/savings.png" alt="Earn Image" srcset="" class="img-fluid">
                                    </div>
                                </div>
                                <div class="col-10 p-2 align-items-center">
                                    <div class="card-lg-txt">Get income from real business!</div>
                                    <div class="card-txt why-txt">
                                        Our team is real and ready to offer safe and mutually beneficial 
                                        co-operation to anyone who has set for himself the goal of making money.
                                    </div>
                                    <a href="/users/register" class="heading-btn">Join Now</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="earn-card why-background align-items-center">
                            <div class="row">
                                <div class="col-2 p-2">
                                    <div class="svg-container">
                                        <img src="public/Image/index/earnImg/secure-payment.png" alt="Earn Image" srcset="" class="img-fluid">
                                    </div>
                                </div>
                                <div class="col-10 p-2 align-items-center">
                                    <div class="card-lg-txt">Diversify financial risks with us!</div>
                                    <div class="card-txt why-txt"> 
                                        Due to the step-by-step strategy of work in the market, as well as in-depth 
                                        analysis of fanancial trends, our company occupies a leading position.
                                    </div>
                                    <a href="/users/register" class="heading-btn">Join Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Earn with us container end -->



        <!-- Investment Plans container start -->
        <section class="container-fluid section-general blue-back">
            <div class="container">
                <div class="row">
                    <!-- Investment Plans text container -->
                    <div class="col-12">
                        <div class="">
                            <h3 class="section-large-txt inv-light">Our Investment Plans</h3>
                            <p class="normal-txt inv-light">
                                Choose how you want to invest with us
                            </p>
                        </div>
                    </div> 
                    
                    <!-- Investment Plans card container -->
                    <div class="col-sm-12 col-md-6 col-lg-4 p-2">
                        <div class="invest-card">
                            <div class="invest-card-content">Smart Fund</div>
                            <h4  class="mb-3 heading" style="line-height: 0.8;">15%</h4>
                            <p class="normal-txt heading-sm" style="line-height: 0;">12 Hours</p>
                            <div class="col-12 card-line"></div>
                            <div class="col-12 card-details normal-txt"><div>Min. Possible deposit:</div> <div>$350</div></div>
                            <div class="col-12 card-details normal-txt"><div>Max. Possible deposit:</div> <div>$5000</div></div>
                            <div class="col-12 card-details normal-txt"><div>Duration</div> <div>5 days</div></div>
                            <div class="col-12 card-details normal-txt"><div>Gift Bonus</div> <div>$0</div></div>
                            <p class="btn-auto"><a href="/users/login" class="heading-btn" style="margin-top: 0.85rem;padding: 9px 15px 10.55px 15px;">Choose Plan</a></p>
                        </div>
                    </div>
                    
                    <!-- Investment Plans card container -->
                    <div class="col-sm-12 col-md-6 col-lg-4 p-2">
                        <div class="invest-card">
                            <div class="invest-card-content">Platinum</div>
                            <h4  class="mb-3 heading" style="line-height: 0.8;">20%</h4>
                            <p class="normal-txt heading-sm" style="line-height: 0;">12 Hours</p>
                            <div class="col-12 card-line"></div>
                            <div class="col-12 card-details normal-txt"><div>Min. Possible deposit:</div> <div>$5000</div></div>
                            <div class="col-12 card-details normal-txt"><div>Max. Possible deposit:</div> <div>$15000</div></div>
                            <div class="col-12 card-details normal-txt"><div>Duration</div> <div>5 days</div></div>
                            <div class="col-12 card-details normal-txt"><div>Gift Bonus</div> <div>$0</div></div>
                            <p class="btn-auto"><a href="/users/login" class="heading-btn" style="margin-top: 0.85rem;padding: 9px 15px 10.55px 15px;">Choose Plan</a></p>
                        </div>
                    </div>
                    
                    <!-- Investment Plans card container -->
                    <div class="col-sm-12 col-md-6 col-lg-4 p-2 mx-auto">
                        <div class="invest-card">
                            <div class="invest-card-content">Ultimate</div>
                            <h4  class="mb-3 heading" style="line-height: 0.8;">30%</h4>
                            <p class="normal-txt heading-sm" style="line-height: 0;">12 Hours</p>
                            <div class="col-12 card-line"></div>
                            <div class="col-12 card-details normal-txt"><div>Min. Possible deposit:</div> <div>$15000</div></div>
                            <div class="col-12 card-details normal-txt"><div>Max. Possible deposit:</div> <div>$45000</div></div>
                            <div class="col-12 card-details normal-txt"><div>Duration</div> <div>5 days</div></div>
                            <div class="col-12 card-details normal-txt"><div>Gift Bonus</div> <div>$0</div></div>
                            <p class="btn-auto"><a href="/users/login" class="heading-btn" style="margin-top: 0.85rem;padding: 9px 15px 10.55px 15px;">Choose Plan</a></p>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- Investment Plans container end -->



        <!-- Testimonials container start -->
        <section class="container-fluid testi-con section-general">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title">
                            <h2>Testimonials</h2>
                            <p>Don't take our word for it, here's what some of our clients have to say about us.</p>
                        </div>
                    </div>
                    <div class="testimonials-carousel-wrap">
                        <div class="listing-carousel-button listing-carousel-button-next"><i class="fa fa-caret-right" style="color: #fff"></i></div>
                        <div class="listing-carousel-button listing-carousel-button-prev"><i class="fa fa-caret-left" style="color: #fff"></i></div>
                        <div class="testimonials-carousel">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="testi-item">
                                            <div class="testi-avatar"><img src="public/Image/index/testImg/21.png"></div>
                                            <div class="testimonials-text-before"><i class="fa fa-quote-right"></i></div>
                                            <div class="testimonials-text">
                                                <div class="listing-rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <p>
                                                    Both my life and that of my children has changed mostly from the consistent 
                                                    profits I've withdrawn from InterestMiners. Thank You.
                                                </p>
                                                <a href="#" class="text-link"></a>
                                                <div class="testimonials-avatar">
                                                    <h3>Sarah</h3>
                                                    <h4>Marketer</h4>
                                                </div>
                                            </div>
                                            <div class="testimonials-text-after"><i class="fa fa-quote-left"></i></div> 
                                        </div>
                                    </div>
                
                                    <!--second--->
                                    <div class="swiper-slide">
                                        <div class="testi-item">
                                            <div class="testi-avatar"><img src="public/Image/index/testImg/6.png"></div>
                                            <div class="testimonials-text-before"><i class="fa fa-quote-right"></i></div>
                                            <div class="testimonials-text">
                                                <div class="listing-rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <p>
                                                    InterestMiners has developed a personal plan for me that has allowed me take much greater control 
                                                    of my financial affairs and plan for the future.
                                                </p>
                                                <a href="#" class="text-link"></a>
                                                <div class="testimonials-avatar">
                                                    <h3>Juliana</h3>
                                                    <h4>Photographer</h4>
                                                </div>
                                            </div>
                                            <div class="testimonials-text-after"><i class="fa fa-quote-left"></i></div> 
                                        </div>
                                    </div>
                                    <!--third-->
                
                                    <div class="swiper-slide">
                                        <div class="testi-item">
                                            <div class="testi-avatar"><img src="public/Image/index/testImg/4.png"></div>
                                            <div class="testimonials-text-before"><i class="fa fa-quote-right"></i></div>
                                            <div class="testimonials-text">
                                                <div class="listing-rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <p>
                                                    InterestMiners is a great and inituative platform for all people. 
                                                    Also great instruments and a perfectly transparent system.
                                                </p>
                                                <a href="#" class="text-link"></a>
                                                <div class="testimonials-avatar">
                                                    <h3>Mehmet</h3>
                                                    <h4>Technologist</h4>
                                                </div>
                                            </div>
                                            <div class="testimonials-text-after"><i class="fa fa-quote-left"></i></div> 
                                        </div>
                                    </div>
                
                                    <!--fourth-->
                                    <div class="swiper-slide">
                                        <div class="testi-item">
                                            <div class="testi-avatar"><img src="public/Image/index/testImg/3.png"></div>
                                            <div class="testimonials-text-before"><i class="fa fa-quote-right"></i></div>
                                            <div class="testimonials-text">
                                                <div class="listing-rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <p>
                                                    I recommend InterestMiners because they are consistent, have good investment 
                                                    system, instant withdrawal and good Support system.
                                                </p>
                                                <a href="#" class="text-link"></a>
                                                <div class="testimonials-avatar">
                                                    <h3>Tammy</h3>
                                                    <h4>Designer</h4>
                                                </div>
                                            </div>
                                            <div class="testimonials-text-after"><i class="fa fa-quote-left"></i></div> 
                                        </div>
                                    </div>
                                    <!--testi end-->
                
                                </div>
                            </div>
                        </div>
                
                        <div class="tc-pagination"></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Testimonials container end -->


        
        <!-- Counter container start -->
        <section class="container-fluid section-general blue-back">
            <div class="container">
                <div class="row">
                    <!-- Investment Plans text container -->
                    <div class="col-12">
                        <div class="">
                            <h3 class="section-large-txt inv-light" style="padding-top: 1.95em;">Token</h3>
                        </div>
                    </div> 

                    <div class="col-sm-12 col-md-6 col-lg-3 p-2">
                        <div class="counter-box">
                            <div class="counter-icon-wrap"><img src="public/Image/index/countImg/token.png" alt="Token Image" class="img-fluid"></div>
                            <div class="counter-figure">$<span class="counter">15</span>M+</div>
                            <div class="counter-discription">Market Cap</div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 p-2">
                        <div class="counter-box">
                            <div class="counter-icon-wrap"><img src="public/Image/index/countImg/members.png" alt="" class="img-fluid"></div>
                            <div class="counter-figure"><span class="counter">6</span>K+</div>
                            <div class="counter-discription">Total Members</div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 p-2">
                        <div class="counter-box">
                            <div class="counter-icon-wrap"><img src="public/Image/index/countImg/donation.png" alt="" class="img-fluid"></div>
                            <div class="counter-figure"><span class="counter">27</span>K+</div>
                            <div class="counter-discription">Total Deposited</div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 p-2">
                        <div class="counter-box">
                            <div class="counter-icon-wrap"><img src="public/Image/index/countImg/withdraw.png" alt="" class="img-fluid"></div>
                            <div class="counter-figure"><span class="counter">26</span>K+</div>
                            <div class="counter-discription">Total Withdrawn</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Counter container end -->


        
        <!-- Footer -->
        <!-- Footer container -->
        <footer class="container-fluid section-general">
            <div class="container">
                <div class="row">
                    <!-- Payment method container -->
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="pay-container">
                            <h4 class="card-lg-txt card-lg-txt-foot">Payment Methods</h3>
                            <p class="normal-txt">
                                InterestMiners accept payments from <span class="font-span"><img src="public/image/foot/bitcoin.png" alt="" class="footer-icon"> Bitcoin</span>, 
                                <span  class="font-span"><img src="public/image/foot/btc-cash.png" alt="" class="footer-icon"> Bitcoin-Cash</span>, <span  class="font-span">
                                <img src="public/image/foot/ethereum.png" alt="" class="footer-icon"> Ethereum</span> and 
                                <span class="font-span"><img src="public/image/foot/litecoin.png" alt="" class="footer-icon"> Litecoin</span> as Payment Methods.
                            </p>
                        </div>
                    </div>

                    <!-- About foot container -->
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="pay-container">
                            <h4 class="card-lg-txt card-lg-txt-foot">InterestMiners</h3>
                            <p class="normal-txt">
                                InterestMiners represents a No risk, high-return investment for all comers - novice investors and 
                                professional players in the financial market.
                            </p>
                        </div>
                    </div>

                    <!-- About foot container -->
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="pay-container">
                            <h4 class="card-lg-txt card-lg-txt-foot">Navigation</h3>

                            <div class="row">
                                <div class="foot-nav-con col-5">
                                    <p><a href="/" class="foot-nav-anc">HOME</a></p>
                                    <p><a href="/users/login" class="foot-nav-anc">SIGN IN</a></p>
                                    <p><a href="/rules/" class="foot-nav-anc">RULES</a></p>
                                </div>
                                <div class="foot-nav-con col-5">
                                    <p><a href="/about/" class="foot-nav-anc">ABOUT US</a></p>
                                    <p><a href="/users/register" class="foot-nav-anc">SIGN UP</a></p>
                                    <p><a href="/faq/" class="foot-nav-anc">FAQ</a></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-6 p-2">
                        <div class="row">
                            <div class="footer-info p-2 col-sm-12 col-md-6 col-lg-12">
                                <!-- <div class="footer-info-icon"><img src="public/Image/foot/house.png" alt="" class="img-fluid"></div> -->
                                <div class="footer-info-line"></div>
                                <div class="info-foot-txt">990 Main Road London SW14 5JZ</div>
                            </div>
                            <div class="footer-info p-2 col-sm-12 col-md-6 col-lg-12">
                                <!-- <div class="footer-info-icon"><img src="public/Image/foot/email.png" alt="" class="img-fluid"></div> -->
                                <div class="footer-info-line"></div>
                                <div class="normal-txt info-foot-txt"><a href="mailto:InterestMiners@gmail.com" class="foot-link">InterestMiners@gmail.com</a></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-6 foot-bot">
                        <div class="row align-items-center">
                            <div class="footer-info col-sm-12 col-md-6 col-lg-12">
                                <!-- <div class="footer-info-icon"><img src="public/Image/foot/phone.png" alt="" class="img-fluid"></div> -->
                                <div class="footer-info-line"></div>
                                <div class="normal-txt info-foot-txt"><a href="http://wwww.instagram.com/InterestMiners" class="foot-link">Instagram Link</a></div>
                            </div>
                            <div class="footer-info p-2 col-sm-12 col-md-6 col-lg-12">
                                <div class="copy-right-txt">© InterestMiners.cc 2020-2022. All rights reserved.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </body>

    <!-- Optional JavaScript; choose one of the two! -->
    <script src="public/javascript/script.js"></script>

    <!-- Option 1: Bootstrap Bundle with JQuery -->
    <script src="public/javascript/jquery.js"></script>
    <script src="node/bootstrap/dist/js/bootstrap.js"></script>
    
    <!-- Swiper javascript cdn link -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.js"></script>

    <!-- Counter script start -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.counter').counterUp({
            delay: 10,
            time: 1200
            });
        });



        
        // Testimonial slider script start
        //   all ------------------
        function initParadoxWay() {
            "use strict";
        
            if ($(".testimonials-carousel").length > 0) {
                var j2 = new Swiper(".testimonials-carousel .swiper-container", {
                    preloadImages: false,
                    slidesPerView: 1,
                    spaceBetween: 20,
                    loop: true,
                    grabCursor: true,
                    mousewheel: false,
                    centeredSlides: true,
                    pagination: {
                        el: '.tc-pagination',
                        clickable: true,
                        dynamicBullets: true,
                    },
                    navigation: {
                        nextEl: '.listing-carousel-button-next',
                        prevEl: '.listing-carousel-button-prev',
                    },
                    breakpoints: {
                        767: {
                            slidesPerView: 2,
                        },
                        1024: {
                            slidesPerView: 3,
                        },
                        
                    }
                });
            }
            
        // bubbles -----------------
            
            
            setInterval(function () {
                var size = randomValue(sArray);
                $('.bubbles').append('<div class="individual-bubble" style="left: ' + randomValue(bArray) + 'px; width: ' + size + 'px; height:' + size + 'px;"></div>');
                $('.individual-bubble').animate({
                    'bottom': '100%',
                    'opacity': '-=0.7'
                }, 4000, function () {
                    $(this).remove()
                });
            }, 350);
            
        }

        //   Init All ------------------
        $(document).ready(function () {
            initParadoxWay();
        });
        // Testimonial slider script end

    </script>
    <!-- Counter script end -->

    
</html>