<!-- Footer container -->
<footer class="container-fluid section-general">
    <div class="container">
        <div class="row">
            <!-- Payment method container -->
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="pay-container">
                    <h4 class="card-lg-txt card-lg-txt-foot">Payment Methods</h3>
                    <p class="normal-txt">
                        InterestMiners accept payments from <span class="font-span"><img src="../public/image/foot/bitcoin.png" alt="" class="footer-icon"> Bitcoin</span>, 
                        <span  class="font-span"><img src="../public/image/foot/btc-cash.png" alt="" class="footer-icon"> Bitcoin-Cash</span>, <span  class="font-span">
                        <img src="../public/image/foot/ethereum.png" alt="" class="footer-icon"> Ethereum</span> and 
                        <span class="font-span"><img src="../public/image/foot/litecoin.png" alt="" class="footer-icon"> Litecoin</span> as Payment Methods.
                    </p>
                </div>
            </div>

            <!-- About foot container -->
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="pay-container">
                    <h4 class="card-lg-txt card-lg-txt-foot">InterestMiners</h3>
                    <p class="normal-txt">
                        InterestMiners represents a No risk, high-return investment for all comers - novice investors and 
                        professional players in the financial market.
                    </p>
                </div>
            </div>

            <!-- About foot container -->
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="pay-container">
                    <h4 class="card-lg-txt card-lg-txt-foot">Navigation</h3>

                    <div class="row">
                        <div class="foot-nav-con col-5">
                            <p><a href="/" class="foot-nav-anc">HOME</a></p>
                            <p><a href="/users/login" class="foot-nav-anc">SIGN IN</a></p>
                            <p><a href="/rules/" class="foot-nav-anc">RULES</a></p>
                        </div>
                        <div class="foot-nav-con col-5">
                            <p><a href="/about/" class="foot-nav-anc">ABOUT US</a></p>
                            <p><a href="/users/register" class="foot-nav-anc">SIGN UP</a></p>
                            <p><a href="/faq/" class="foot-nav-anc">FAQ</a></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-6 p-2">
                <div class="row">
                    <div class="footer-info p-2 col-sm-12 col-md-6 col-lg-12">
                        <!-- <div class="footer-info-icon"><img src="public/Image/foot/house.png" alt="" class="img-fluid"></div> -->
                        <div class="footer-info-line"></div>
                        <div class="info-foot-txt">990 Main Road London SW14 5JZ</div>
                    </div>
                    <div class="footer-info p-2 col-sm-12 col-md-6 col-lg-12">
                        <!-- <div class="footer-info-icon"><img src="public/Image/foot/email.png" alt="" class="img-fluid"></div> -->
                        <div class="footer-info-line"></div>
                        <div class="normal-txt info-foot-txt"><a href="mailto:InterestMiners@gmail.com" class="foot-link">InterestMiners@gmail.com</a></div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-6 foot-bot">
                <div class="row align-items-center">
                    <div class="footer-info col-sm-12 col-md-6 col-lg-12">
                        <!-- <div class="footer-info-icon"><img src="public/Image/foot/phone.png" alt="" class="img-fluid"></div> -->
                        <div class="footer-info-line"></div>
                        <div class="normal-txt info-foot-txt"><a href="http://wwww.instagram.com/InterestMiners" class="foot-link">Instagram Link</a></div>
                    </div>
                    <div class="footer-info p-2 col-sm-12 col-md-6 col-lg-12">
                        <div class="copy-right-txt">© InterestMiners.cc 2020-2022. All rights reserved.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>