<nav class="project-nav-menu fixed-top container-fluid">
    <div class="nav container fixed-top">
        <input type="checkbox" id="nav-check">
        <div class="nav-header">
            <div class="nav-title" onclick="document.location.href='/'">
                InterestMiners
            </div>
        </div>
        <div class="nav-btn">
        <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
        </label>
        </div>

        <div class="nav-links">
            <ul>
                <li class="nav-li-shift"><a href="/dashboard/">Dashboard</a></li>
                <li><a href="/dashboard/withdraw/">Withdraw</a></li>
                <li><a href="/dashboard/history/">History</a></li>
                <li><a href="/dashboard/setting/">Setting</a></li>
            </ul>
        </div>
    </div>
</nav>